<head>
<link rel="icon" href="/favicon.svg" sizes="any" type="image/svg+xml">
<link rel="stylesheet" href="https://unpkg.com/missing.css@1.0.9/dist/missing.min.css">
<script type="text/hyperscript" src="trystero._hs"></script>
<script src="https://unpkg.com/htmx.org@1.9.5" integrity="sha384-xcuj3WpfgjlKF+FXhSQFQ0ZNr39ln+hwjN3npfM9VBnUskLolQAcN80McRIVOPuO" crossorigin="anonymous"></script>
<script src="https://unpkg.com/hyperscript.org@0.9.11"></script>
<style is:global>
.float {
    position: fixed;
}
li.htmx-request {
    color: blue;
}
form.htmx-swapping {
    opacity: 0;
    transition: opacity 1s ease;
}
span {
    transition: all 1s ease;
}
span.htmx-added {
    color: green;
}
</style>
</head>

<script async type="module">
    import {joinRoom,selfId} from 'https://cdn.skypack.dev/trystero'
    window.trystero = {joinRoom:joinRoom,selfId:selfId}
</script>
<body _="install Trystero">
<main id="main">
    <h2>Main Page</h2>
    <section hx-get="/api/" hx-trigger="load" hx-swap="innerHTML"></section>
    <b class="float" id="cursor"></b>
    <form hx-post="/api/"
        hx-swap="outerHTML swap:2s"
        _="on change
           put #name.value into localStorage.name
           put #name.value into #cursor's textContent
           ">
        Who are you?
        <input id="name" name="name" type="text">
        <button type="submit">Submit</button>
    </form>
</main>
</body>
